@media screen and (min-width: 1145px) {
    .main-box {
        width: 75%;
    }
}

@media screen and (max-width: 1250px) {
    .mid-box {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

@media screen and (max-width: 950px) {
    .custom-col {
        width: 33.333% !important;
    }
}

.custom-col {
    margin-top: 25px;
}

.col-item {
    margin-right: 10px;
    margin-left: 10px
}

.mid-box {
    padding-bottom: 25px;
}

div#content-wrapper {
    background: #fff !important;
}

@media screen and (min-width: 950px) {
    .custom-col {
        width: 25% !important;
    }
}

@media screen and (max-width: 666px) {
    .custom-col {
        width: 50% !important;
    }

    .col-item {
        margin-right: 25px;
        margin-left: 25px
    }
}

@media screen and (max-width: 560px) {
    .col-item {
        margin-right: 10px;
        margin-left: 10px
    }
}

@media screen and (max-width: 425px) {
    .custom-col {
        width: 100% !important;
    }

    .col-item {
        padding-right: 40px !important;
        padding-left: 40px !important;
        padding-top: 45px !important;
        padding-bottom: 45px !important;
    }

    .col-item .links {
        height: 30px !important;
        border-radius: 5px !important;
        margin-top: 13px !important;
    }
}


@media screen and (max-width: 359px) {
    .custom-col {
        width: 100% !important;
    }

    .col-item {
        padding-right: 40px !important;
        padding-left: 40px !important;
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .col-item .links {
        height: 15px !important;
        border-radius: 5px !important;
        margin-top: 13px !important;
    }
}

.bg-glass {
    background-color: rgba(255, 255, 255, 0.2);
}

.box-hover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    border-radius: 13px;
}

.col-item:hover .box-hover {
    display: block;
}

.box-hover div {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 100%;
}

.box-hover div i {
    font-size: 250%;
}

.selected {
    color: #303066;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
