.col-6 {
    display: block;
    width: 50%;
}

[type="radio"] {
    display: none;
}

#car-slider {
    height: 100%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

@media screen and (max-width: 991px) {
    #car-slider {
        height: 40vh;
    }

    #car-slider .label {
        width: 90% !important;
        height: auto !important;
    }
}

@media screen and (max-width: 767px) {
    #car-slider {
        height: 30rem;
    }

    #car-slider .label {
        width: 60% !important;
        height: auto !important;
    }
}

@media screen and (max-width: 480px) {
    #car-slider {
        height: 25rem;
    }

    #car-slider .label {
        width: 60% !important;
        height: auto !important;
    }
}

@media screen and (max-width: 412px) {
    #car-slider {
        height: 20rem;
    }

    #car-slider .label {
        width: 60% !important;
        height: auto !important;
    }
}


@media screen and (max-width: 340px) {
    #car-slider {
        height: 16rem;
    }

    #car-slider .label {
        width: 60% !important;
        height: auto !important;
    }
}

#car-slider .label {
    border-radius: 20px !important;
    margin: auto;
    width: 18vw;
    height: auto;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 1s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3),
    0 11px 7px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0, 0, 0);
}


#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(30%, 0, -200px);
}

#slide1 {
    background: #00bcd4;
}

#slide2 {
    background: #4caf50;
}

#slide3 {
    background: #cddc39;
}

#slide4 {
    background: #ffc107;
}

#slide5 {
    background: #ff5722;
}

@media screen and (max-width: 991px) {
    .slidr-img {
        margin-top: 40px;
    }

    .slidr-img img {
        margin-top: 100px;
        right: 0 !important;
        width: 70vw;
    }

    .hero__caption {
        margin-top: 80px !important;
        padding-top: 80px !important;
    }

    .hero__caption span {
        display: none !important;
    }

    .hero__caption h1,
    p {
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .slider-btn {
        text-align: center !important;
    }
}
