.hidden {
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transform: scale(0);
}

/*@keyframes color {*/
/*    0%   { background: #33CCCC; }*/
/*    20%  { background: #33CC36; }*/
/*    40%  { background: #B8CC33; }*/
/*    60%  { background: #FCCA00; }*/
/*    80%  { background: #33CC36; }*/
/*    100% { background: #33CCCC; }*/
/*}*/

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


div#content-wrapper {
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background-image: linear-gradient(-45deg,#7551e9,#0bafff 13%,#39e09b 28%,#ffc213 43%,#ff7d50 57%,#f43636 71%,#ed63d2 86%,#7551e9);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    /*height: 100vh;*/

    /*-webkit-animation: scroll 40s ease infinite;*/
}

@media screen and (min-width: 1024px) {
    .bios {
        width: 50%;
    }

    .link-buttons {
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .bios {
        width: 75%;
    }

    .link-buttons {
        width: 75%;
    }
}

@media screen and (max-width: 560px) {
    .link-buttons {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .bios {
        padding-top: 40px;
    }
}


@media screen and (max-width: 768px) {
    .bios-fullname {
        margin-top: 40px;
    }
}

@media screen and (max-width: 375px) {
    .link-name {
        font-size: 90% !important;
    }

    .link-logo {
        font-size: 120% !important;
    }
}
