.hidden {
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transform: scale(0);
}

div#content-wrapper {
    background: radial-gradient(circle at 75% 85%, #7979ff, #303066);
}

@media screen and (min-width: 1024px) {
    .bios {
        width: 50%;
    }

    .link-buttons {
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .bios {
        width: 75%;
    }

    .link-buttons {
        width: 75%;
    }
}

@media screen and (max-width: 560px) {
    .link-buttons {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .bios {
        padding-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .bios-fullname {
        margin-top: 40px;
    }
}

@media screen and (max-width: 375px) {
    .link-name {
        font-size: 90% !important;
    }

    .link-logo {
        font-size: 120% !important;
    }
}
